.teaserBoxContent {
	overflow: hidden;
	width: 100%;
}

ul.teaserBoxNavigation {
	list-style: none;
	float: right;
	position: relative;
	top: 10px;
	width: 30%;
	margin: 0;
	padding: 0;
	z-index: 1;
}

ul.teaserBoxTeaser {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 0;
}

ul.teaserBoxTeaser li {
	position: absolute;
	width: 100%;
}

ul.teaserBoxTeaser li a {
	display: block;
	text-decoration: none;
}

ul.teaserBoxNavigation li {
	padding: 3px 10px 1px;
	margin: 5px 0 0;
	opacity: 0.8;
	float: right;
	width: 80%;
	-webkit-border-radius: 10px 0 0 10px !important;
	-moz-border-radius: 10px 0 0 10px !important;
	border-radius: 10px 0 0 10px !important;
}

ul.teaserBoxNavigation li.activeTeaser {
	width: 100%;
}

ul.teaserBoxNavigation li a {
	display: block;
	height: 25px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}

ul.teaserBoxNavigation li.activeTeaser a {
	font-size: 1.4em;
}